<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>Budgtr</h1>
        <% for (i=0; i < data.length; i++) { %>
            <% money=money+ parseInt(data[i].amount)%>
                <% } %>
                    <h2 class="money">Ca$hMoney: <%=money%>
                    </h2>
                    <table>
                        <% for (i=0; i < data.length; i++) { %>
                            <tr>
                                <td>
                                    <%=data[i].date%>
                                </td>
                                <td><a href="/budgets/<%=i%>">
                                        <%=data[i].name%>
                                    </a></td>
                                <td>
                                    <%=data[i].amount%>
                                </td>
                            </tr>
                            <% } %>
                    </table>
                    <form action="/budgets/new/">
                        <input type="submit" value="Add New Item" />
                    </form>
                    <% if (money < 0) { %>
                        <style>
                            .money {
                                background-color: red;
                            }
                        </style>
                        <% } else if (money> 1000) { %>
                            <style>
                                .money {
                                    background-color: green;
                                }
                            </style>
                            <% } else { %>
                                <style>
                                    .money {
                                        background-color: gray;
                                    }
                                </style>
                                <% } %>
    </div>
</body>

</html>